html {
  min-height: 100%;
  height: 100%;
  height: 110%\9;
}

body {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #666;
  min-height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #0084b4;
}

a:link, a:visited {
  color: #0084b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo {
    float: left;
    width: 432px;
	height: 48px;
	background-image : url(/assets/logo.png);
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}
