body {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #666;
  min-width: 960px;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #0084b4;
}

a:link, a:visited {
  color: #0084b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}